*{
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
}

body{
    background-image: url('assets/images/background.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    backdrop-filter: blur(10px);
    min-height: 100vh;
    box-sizing: border-box;
    text-align: center;
}